

/* Persian Font*/
@font-face {
    font-family: 'yekan';
    src: url('../Center/fonts/Yekan.eot');
    src: url('../Center/fonts/Yekan.eot') format('embedded-opentype'),
    url('../Center/fonts/Yekan.woff') format('woff'),
    url('../Center/fonts/Yekan.ttf') format('truetype'),
    url('../Center/fonts/Yekan.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*======== Default Codes ========*/
html {
  height: 100%;
}

body {
  direction:rtl;
  font-family: tahoma, arial;
  font-size: 12px;
  color: #333;
  background: url(images/bg.jpg);
  background-size: cover;
  line-height: 20px;
}

a {
  color: #0088CC;
  text-decoration: none;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

a:hover {
  color: #005580;
}

a:focus {
  outline: none;
}

input[type="text"]:focus {
  outline: none;
}


.clearfix {
  clear: both;
}
blockquote {
	font-style: italic;
	color: #333;
	font-size: 11px;
	padding:15px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: yekan;
  font-weight: normal;
}

h1 {
  font-size:36px;
}

h2 {
  font-size:24px;
}

h3 {
  font-size:18px;
}

h4 {
  font-size:16px;
}


/*======== Get Fonts ========*/

#container {
  width: 1000px;
  margin:0 auto;
}

.Joomina {
	width: 451px;
	height: 451px;
	background: #fff;
	border-radius:100px;
	top: 40%;
	left: 43%;
	position: absolute;
	margin: -175px 0 0 -170px;
	box-shadow: 0 0 7px 0 rgba( 0, 0, 0, 0.8);
	transition: all 2s ease-in-out 0s;
	opacity: .6;
	transform: rotate3d(1, 1,2, -25deg);
}

.Joomina:hover {
  opacity: 1;
  transform: rotate3d(1, 1, 1, 0deg);
   transition: all 1s ease-in-out 0s;
}
.Joomina .home {
  display: block;
  float:left;
	margin-left:190px;
  background: url(images/logo.png) no-repeat;
  width: 19px;
  height: 19px;
  opacity: 0.6;	
}

.Joomina .home:hover {
  opacity: 80;
}

.Joomina .first {
  padding: 25px 20px 0 20px;	
}

.Joomina .second { left:20px;
  	
}

.Joomina .inputs {
 
  padding: 5px 0;
  margin-bottom: 10px;
  text-align:center;
  
}


.Joomina h1 {
  font-size: 21px;
  text-align:center;
  margin-top: 42px;
  margin-bottom: 5px;
  color: #22C2FF;
}

.joomina-reseller {
    float: left;
    height: 40px;
    padding-left: 39px;
    padding-top: 5px;
    direction: ltr;
}

.right {
  float: right;
padding-right:50px;
padding-top:5px;
  height: 40px;
}

.right input {
  float: right;	
}

.right a {
  display: block;
}

.Joomina input[type=text],
.Joomina input[type=password] {
  width: 150px;
  font-size: 13px;
  font-family: yekan,tahoma;
  display: block;
  direction: rtl;
  padding: 12px 10px 10px 30px;
  box-shadow: 0 3px 8px 0 rgba( 0, 0, 0, 0.15) inset;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 11px auto;
  color: #555;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.Joomina input[type=text] {
  background: #fff url(images/user.png) 5px 12px no-repeat;
}

.Joomina input[type=password] {
  background: #fff url(images/key.png) 5px 12px no-repeat;

}

.Joomina input[type=text]:focus,
.Joomina input[type=password]:focus {
  border: 1px solid #00aeff;
}

.Joomina input[type=submit] {
  background: url(images/login.png) top no-repeat;
  width: 94px;

  height: 39px;

  display:block;
  box-shadow: 0 0 5px 0 rgba( 0, 0, 0, 0.15);
  border:0;
  font-size: 22px;
  font-family: yekan;
  color: #fff;
  text-shadow: -1px -1px 0 rgba( 0, 0, 0, 0.4);
  text-indent: 30px;
  cursor: pointer;
  float: left;
  margin-left: 8px;
}
.logins {
padding-left:40px;
padding-top:5px;
}
.Joomina input[type=submit]:hover {
  background: url(images/login.png) bottom no-repeat;
}

.s-login { padding-top:100px;
padding-right:85px;
}

.s-login a {
  background-image: url(images/soci.png);
  background-repeat:no-repeat;
  display:block;
  width: 130px;
  height: 38px;
  margin: 30px 8px lqw 8px;
  float: right;
  color: #fff;
  font-size: 13px;
  font-family: yekan;
  line-height: 35px;
  text-indent: 45px;
  -moz-transition: all 0s ease-in;
  -o-transition: all 0s ease-in;
  -webkit-transition: all 0s ease-in;
  transition: all 0s ease-in;
  box-shadow: 0 0 5px 0 rgba( 0, 0, 0, 0.15);
}

.s-login .reg {
  background-position: top right;
}

.s-login .dl {
  background-position: top left;
}

.s-login .reg:hover {
  background-position: bottom right;
}

.s-login .dl:hover {
  background-position: bottom left;
}

::-webkit-input-placeholder {
    color:    #eee;
}
:-moz-placeholder {
    color:    #eee;
}
:-ms-input-placeholder {
        color:    #eee;
}
#content {padding:0px;direction: rtl;}
#dialog {position:absolute; width:514px; padding:10px; z-index:200; background:#fff; -moz-border-radius-bottomleft:6px; -webkit-border-bottom-left-radius:6px; -moz-border-radius-bottomright:6px; -webkit-border-bottom-right-radius:6px; border-radius:0 0 6px 6px; -moz-box-shadow:0 0 64px #000; -webkit-box-shadow:0 0 64px #000; box-shadow:0 0 64px #000;}
#dialog-header {display:block; position:relative; width:500px; padding:3px 6px 7px; height:14px; font-size:14px; font-weight:bold}
#dialog-title {float:right}
#dialog-close {float:left; cursor:pointer; margin:3px 3px 0 0; height:11px; width:11px; background:url('../../images/dialog_close.gif') no-repeat}
#dialog-content {display:block; height:160px; padding:6px; color:#000; font-size:13px}
#dialog-mask {position:absolute; top:0; left:0; min-height:100%; width:100%; background:#FFF; opacity:.1; filter:alpha(opacity=100); z-index:100}
.error {background:#fff url('../../images/error_bg.jpg') bottom right no-repeat; border:1px solid #FA0000; border-top:none;text-align:right;}
.errorheader {background:url('../../images/error_header.gif') repeat-x; color:#FFF; border:1px solid #FA0000; border-bottom:none}
.warning {background:#fff url('../../images/warning_bg.jpg') bottom right no-repeat; border:1px solid #c5a524; border-top:none;text-align:right;}
.warningheader {background:url('../../images/warning_header.gif') repeat-x; color:#957c17; border:1px solid #c5a524; border-bottom:none}
.success {background:#fff url('../../images/success_bg.jpg') bottom right no-repeat; border:1px solid #60a174; border-top:none;text-align:right;}
.successheader {background:url('../../images/success_header.gif') repeat-x; color:#3c7f51; border:1px solid #60a174; border-bottom:none}
.prompt {background:#fff url('../../images/prompt_bg.jpg') bottom right no-repeat; border:1px solid #4f6d81; border-top:none;text-align:right;}
.promptheader {background:url('../../images/prompt_header.gif') repeat-x; color:#355468; border:1px solid #4f6d81; border-bottom:none}
.alert {
	background: #fff6bf url(images/exclamation.png) center no-repeat;
	background-position: 15px 50%; 
	text-align: right;
     color:#000000;
	padding: 5px 20px 5px 45px;
	border-top: 2px solid #ffd324;
	border-bottom: 2px solid #ffd324;
    border-left: 2px solid #ffd324;
    border-right: 2px solid #ffd324;
	}
	
.info {
	background: #F8FAFC url(images/information.html) center no-repeat;
	background-position: 15px 50%;
	text-align: right;
    color:#000000;
	padding: 5px 20px 5px 45px;
	border-top: 2px solid #B5D4FE;
	border-bottom: 2px solid #B5D4FE;
    border-left: 2px solid #B5D4FE;
     border-right: 2px solid #B5D4FE;
	}
   .secc {
	background: #BBFFBB url(images/success.gif) center no-repeat;
	background-position: 15px 50%;
	text-align: right;
    color:#000000;
	padding: 5px 20px 5px 45px;
	border-top: 2px solid #008000;
	border-bottom: 2px solid #008000;
    border-left: 2px solid #008000;
     border-right: 2px solid #008000;
	}
.error_s {
	background: #FFBFBF url(images/error.png) center no-repeat;
	background-position: 15px 50%;
	text-align: right;
    color:#000000;
	padding: 5px 20px 5px 45px;
	border-top: 2px solid #FF2424;
	border-right: 2px solid #FF2424;
	border-bottom: 2px solid #FF2424;
	border-left: 2px solid #FF2424;
	}
	.continue { 

padding:4px;
 font-family:Tahoma;
 font-size:11px;
 font-weight: normal;
 border: 1px solid #c7c7c7;
-moz-border-radius: 4px;
-webkit-border-radius: 4px; 
border-radius: 4px;
-moz-box-shadow: 0px 2px 4px #ccc;
-webkit-box-shadow: 0px 2px 4px #ccc;
box-shadow: 0px 2px 4px #ccc; 
text-decoration: none;
color:#000;
background: #fbfbfb url('../../images/gradients-sprite.png') right -1150px repeat-x; text-align: center; width: 100px;
cursor:pointer;cursor:hand;
 }
 .continue:hover, .continue:focus {

padding:4px;
 font-family:Tahoma;
 font-size:11px;
 font-weight: normal;
 border: 1px solid #c7c7c7;
-moz-border-radius: 4px;
-webkit-border-radius: 4px; 
border-radius: 4px;
-moz-box-shadow: 0px 2px 4px #ccc;
-webkit-box-shadow: 0px 2px 4px #ccc;
box-shadow: 0px 2px 4px #ccc; 
text-decoration: none;
background: #fbfbfb url('../../images/gradients-sprite.png') right -1300px repeat-x; text-align: center; width: 100px;
cursor:pointer;cursor:hand;
  } 
.input {
 font-family:Tahoma;
 font-size:11px;
 font-weight: normal;
padding: 5px;   
    border: 1px solid #DDDDDD;
    
    /*Applying CSS3 gradient*/
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    
    /*Applying CSS 3radius*/   
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    /*Applying CSS3 box shadow*/
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;

}
